a {
    text-decoration: none;
    color: black;

}

a:hover {
    cursor: pointer;
}

.header {
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.activePlayerWrapper {
    display: flex;
    white-space: nowrap;
}

.activePlayer {
    margin-right: 2px;
}

.activePlayerId {}

.gameId {
    display: flex;
    white-space: nowrap;
}

.geoheeIdText {
    margin-right: 2px;

}

.idNumber {}

.opponentPlayer {}

.container {
    position: relative;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10vw;
    padding: 0;
    align-items: center;
}

.card {
    position: relative;
    font-size: 10px;
    display: inline-block;
    background: white;
    height: 554px;
    width: 356px;
    overflow: hidden;
    margin: 3vh auto;
    border-radius: 20px;
    /* box-shadow: -5px 19px 38px 5px rgba(0, 0, 0, 0.30), 5px 15px 15px 2px rgba(0, 0, 0, 0.22); */
    box-shadow: 1px 4px 12px 3px rgba(0, 0, 0, 0.35);
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.095);
}

.cardsInnerBorder {
    position: absolute;
    height: 506px;
    width: 304px;
    border: 1px dotted #000000;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.water {
    position: absolute;
    width: 24px;
    height: 13px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #000000;
    left: 3%;
}

.waterNumber,
.waterNr {
    position: absolute;
    width: 46px;
    height: 20px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #000000;
    left: 3%;
    top: 2%;
}

.waterNr:hover {
    color: #F1C863;
}

.height {
    position: absolute;
    width: 52px;
    height: 11px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.08em;
    color: #000000;
    right: 3%;
}

.heightNumber,
.heightNr {
    position: absolute;
    width: 71px;
    height: 20px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.12em;
    color: #000000;
    right: 3%;
    top: 2%;
}

.heightNr:hover {
    color: #F1C863;
}

.countryFlag {
    position: absolute;
    width: 297px;
    height: 187px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.cardHr {
    position: absolute;
    border: none;
    background-color: #F1C863;
    color: #F1C863;
    height: 3px;
    width: 5%;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
}

.headerHr {
    background-color: #F1C863;
    color: #F1C863;
    height: 2px;
    height: 3px;
}


.country {
    position: absolute;
    width: 240px;
    height: 35px;
    text-transform: uppercase;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-content: center;
}


.countryLink:hover {
    color: #F1C863;
}

.capital {
    position: absolute;
    width: 240px;
    height: 28px;
    text-transform: uppercase;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-content: center;
}

.capitalLink:hover {
    color: #F1C863;
}


.population {
    position: absolute;
    width: 197px;
    height: 18px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #000000;
    top: 73%;
    text-align: left;
    left: 10%;
}


.populationNumber,
.opponentPopulationNumber {
    position: absolute;
    width: 198px;
    height: 28px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #000000;
    top: 76%;
    text-align: left;
    left: 32%;
}

.populationNumber:hover {
    color: #F1C863;
}

.area {
    position: absolute;
    width: 197px;
    height: 18px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #000000;
    top: 81%;
    text-align: left;
    left: 10%;

}

.areaNumbers,
.opponentAreaNumbers {
    display: flex;
    position: absolute;
    top: 84%;
    left: 32%;
    transform-origin: 0 100%;
    white-space: nowrap;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #000000;
}

.areaNumbers:hover {
    color: #F1C863;
}

.areaNumber1 {
    margin-right: 3%;
    text-align: left;
}

.areaNumber2 {}

.hdi {
    position: absolute;
    width: 197px;
    height: 18px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #000000;
    top: 90%;
    text-align: left;
    left: 10%;
}

.hdiNumber,
.opponentHdiNumber {
    position: absolute;
    width: 198px;
    height: 28px;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #000000;
    top: 93%;
    text-align: left;
    left: 32%;
}

.hdiNumber:hover {
    color: #F1C863;
}

.highestPointDiv,
.opponentHighestPointDiv {
    display: flex;
    position: absolute;
    top: 93%;
    left: 9%;
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
    transform-origin: 0 100%;
    white-space: nowrap;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.13em;
    color: #F1C863;
}

.highestPointDiv:hover {
    color: black;
}

.highestPoint {
    margin-right: 3%;
    text-align: left;

}

.highestPointNumber {}

.lowestPointDiv,
.opponentLowestPointDiv {
    display: flex;
    position: absolute;
    top: 93%;
    left: 98%;
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
    transform-origin: 0 100%;
    white-space: nowrap;
    font-family: 'Museo 500';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.13em;
    color: #F1C863;
}

.lowestPointDiv:hover {
    color: black;
}

.lowestPoint {
    margin-right: 3%;
    text-align: left;

}

.lowestPointNumber {}











.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 554px;
    width: 356px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}